Sauvegarde Fonts/skill_pips.fnt
Fichiers Traduits/video/DD TRAILER_Kickstarter.ogv
*.zip
*.ttf
*.tga
Sauvegarde Fonts/fonts.darkest
*.7z
Fichiers Traduits/old_road.srt
Sauvegarde Fonts/dwarvenaxe-l.fnt
Sauvegarde Fonts/new_rocker-m.fnt
*.fnt
Fichiers Traduits/dialogue.string_table_copie
Fichiers Traduits/fonts/font_smash15195_popup.png
Fichiers Traduits/fonts/font_smash15195_0.png
Fichiers Traduits/fonts/font_smash15195-m.png
Fichiers Traduits/fonts/font_smash15195-xl.png
Fichiers Traduits/fonts/font_smash15195_m_0.png
Fichiers Traduits/fonts/font_smash15195-l.png
Fichiers Traduits/fe_flow/fe_flow_splash1 - Copie.png
Fichiers Traduits/miscellaneous.string_table_copie