Sauvegarde Fonts/skill_pips.fnt
Fichiers Traduits/video/DD TRAILER_Kickstarter.ogv
*.zip
*.ttf
*.tga
Sauvegarde Fonts/fonts.darkest
*.7z
Fichiers Traduits/old_road.srt
Sauvegarde Fonts/dwarvenaxe-l.fnt
Sauvegarde Fonts/new_rocker-m.fnt
*.fnt